<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:env('app_name')}</title>
    {include file="common/require"}
    <link rel="stylesheet" href="__STATIC__/css/header.css">
    <link rel="stylesheet" href="__STATIC__/css/room.css">
    <style>
        .base-swiper-container {
            height: calc(100% - 55px);
        }
        .room-swiper-slide {
            overflow-y: auto;
        }
    </style>
    <script src="__STATIC__/libs/socket.io/socket.io.slim.js"></script>
    <script src="__STATIC__/libs/jq-paginator/jq-paginator.min.js"></script>
    <script src="__STATIC__/libs/pjax/jquery.pjax.min.js"></script>

</head>
<body>
{include file="index/loading"}
<script>
    openLoading();
</script>
<div id="header">
    <div class="wrap clearfix">
        <div class="header-left clearfix">
            <ul class="header-nav clearfix">

                <li class="header-nav-item header-nav-active" >
                    <a href="javascript:void(0)" data-index="0">消息列表</a>
                </li>
                <li class="header-nav-item" >
                    <a href="javascript:void(0)" data-index="1">好友</a>
                </li>
                <li class="header-nav-item">
                    <a href="javascript:void(0)" data-index="2">聊天室</a>
                </li>
                <li class="header-nav-item">
                    <a href="javascript:void(0)" data-index="3">个人中心</a>
                </li>
                <li class="header-nav-item">
                    <a href="javascript:void(0)" data-index="4">搜索</a>
                </li>
            </ul>

            <div class="header-search clearfix">
                <input type="text" class="header-search-input" placeholder="搜索用户、聊天室">
                <a class="header-search-btn" href="">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div class="header-right clearfix">
            <div class="header-user">
                {eq name="isLogin" value="0"}
                <button class="header-user-login" onclick="authOpen()">登录/注册</button>
                {else/}
                <div class="header-user-info">
                    <a href="{:url('User/userInfo')}"><img class="header-user-face" src="{$userFace}"/></a>
                    <div class="header-user-control">
                        <a href="{:url('User/userInfo')}" class="header-user-control-item">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            个人中心
                        </a>
                        <a href="{:url('User/outLogin')}?from={:request()->url(true)}" class="header-user-control-item">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            退出登录
                        </a>
                    </div>
                </div>

                {/eq}
            </div>
        </div>
    </div>
    <script>
        var userInfo = {
            nickName:'{$nickName}',
            userFace:'{$userFace}',
        }
    </script>
</div>


<div class="swiper-container base-swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide swiper-no-swiping">
            {include file="index/chat"}
        </div>

        <div class="swiper-slide swiper-no-swiping">
            {include file="index/friend"}
        </div>
        <div class="swiper-slide swiper-no-swiping room-swiper-slide">
            {include file="index/room"}
        </div>
        <div class="swiper-slide swiper-no-swiping">
<!--            include file="user/user_info"-->
        </div>
        <div class="swiper-slide swiper-no-swiping">
        </div>
    </div>
</div>

<script>
    var getRoomListUrl = "{:url('Room/getRoomList')}";
    var getRoomCateList = "{:url('Room/getRoomCateList')}";
    var baseSwiper = new Swiper('.base-swiper-container', {
        freeModeMomentumBounce: false,
    })
    // setHeaderNav(2);

    $('#header .header-nav-item').click(function () {
        setHeaderNav($('a',this).attr('data-index'));
    })
    function setHeaderNav(index) {
        if (baseSwiper.activeIndex == index) {
            return;
        }
        $('#header .header-nav-item').removeClass('header-nav-active');
        $('#header .header-nav-item').eq(index).addClass('header-nav-active');
        baseSwiper.slideTo(index);
    }
</script>
<script src="__STATIC__/js/header.js"></script>
<script src="__STATIC__/js/room.js"></script>
</body>
</html>