<style>
    body {
        min-width: 1200px;
    }

    .header {
        height: 45px;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    }

    .header-left {
        float: left;
    }

    .header-right {
        float: right;
    }

    .header-nav {
        float: left;
    }

    .header-nav li {
        float: left;
        transition: background-color .5s;
        padding: 0 8px;
    }

    .header-nav li a {
        height: 45px;
        line-height: 45px;
        box-sizing: border-box;
    }

    .header-nav li:hover {
        background-color: #F0F0F5;
    }

    .header-nav-active a {
        border-bottom: 2px solid #E33E33;
        color: #000;
    }

    .header-search {
        float: left;
        margin-top: 6.5px;
        margin-left: 15px;
        border-radius: 5px;
        height: 32px;
        overflow: hidden;
    }

    .header-search-input {
        width: 350px;
        height: 32px;
        background-color: #F0F0F5;
        padding-left: 10px;
        border: none;
        float: left;
    }


    .header-search-btn {
        float: left;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        background-color: #E8E8EE;
        transition: background-color .5s;
    }

    .header-search-btn:hover {
        background-color: #E33E33;
        color: #fff;
    }

    .header-user {
        height: 45px;
        line-height: 45px;

    }

    .header-user-login {
        padding: 0 5px;
        transition: background-color .5s;
    }

    .header-user-login:hover {
        background-color: #F0F0F5;
    }

    .header-user-info {
        width: 45px;
        height: 45px;
        position: relative;
    }
    .header-user-face {
        width: 30px;
        height: 30px;
        margin-top: 7.5px;
        margin-left: 7.5px;
        border-radius: 50%;
    }
    .header-user-control {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 99999;
        width: auto;
        background-color: #fff;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
        padding: 10px 0;
        box-sizing: border-box;
        display: none;
    }

    .header-user-control-item {
        white-space: nowrap;
        transition: background-color .5s;
        padding: 0 20px;
    }
    .header-user-control-item:hover {
        background-color: #F0F0F5;
    }

    .header-user-control-item .fa {
        width: 14px;
        height: 14px;
        line-height: 14px;
        text-align: center;
        margin-right: 5px;
        color: #999aaa;
    }


</style>
<div class="header">
    <div class="wrap clearfix">
        <div class="header-left clearfix">
            <ul class="header-nav clearfix">
                <li {eq name="navSelect" value="index" }class="header-nav-active"{/eq}>
                <a href="{:url('index/Index/index')}">聊天室</a>
                </li>

                <li {eq name="navSelect" value="aaaa" }class="header-nav-active"{/eq}>
                <a href="{:url('index/Index/aaaa')}">好友</a>
                </li>

            </ul>

            <div class="header-search clearfix">
                <input type="text" class="header-search-input" placeholder="搜索用户、聊天室">
                <a class="header-search-btn" href="">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="header-right clearfix">
            <div class="header-user">
                {eq name="isLogin" value="0"}
                    <button class="header-user-login" onclick="authOpen()">登录/注册</button>
                {else/}
                    <div class="header-user-info">
                        <a href=""><img class="header-user-face" src="{$userFace}" /></a>
                        <div class="header-user-control">
                            <a href="" class="header-user-control-item">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                个人中心
                            </a>
                            <a href="javascript:void(0)" onclick="userOut()" class="header-user-control-item">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                退出登录
                            </a>
                        </div>
                    </div>

                {/eq}
            </div>
        </div>
    </div>

    <style>
        .auth-wrap {
            position: fixed;
            top: 0;
            left: 0;
            color: #939ba6;
            background-color: rgba(0, 0, 0, .4);
            width: 100%;
            height: 100%;
            display: none;
            z-index: 99;
            /*opacity: 0;*/
        }

        /*.auth-swiper-container {*/
        /*    position: relative;*/
        /*    height: 100%;*/
        /*}*/

        .auth-box {
            width: 380px;
            background-color: #fff;
            position: absolute;
            top: 40%;
            left: 0;
            right: 0;
            margin: 0 auto;
            transform: translateY(-50%);
            border-radius: 5px;
            overflow: hidden;
        }

        .authClose {
            position: absolute;
            right: 12px;
            top: 12px;
            font-size: 22px;
            font-weight: normal;
            cursor: pointer;
            transition: color 0.5s;
            z-index: 99;
        }

        .authClose:hover {
            color: #707070;
        }

        .auth-main {
            height: auto;
            padding: 40px;
            box-sizing: border-box;
        }


        .auth-title {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 40px;
        }

        .auth-item {
            width: 100%;
            height: 40px;
            line-height: 40px;
            border: 1px solid #dadde1;
            border-radius: 5px;
            margin-bottom: 15px;
            overflow: hidden;
        }

        .auth-item-ico {
            width: 50px;
            float: left;
            text-align: center;
            color: #000;
        }

        .auth-item-input {
            float: left;
            width: calc(100% - 55px);
            height: 100%;
            padding: 0 5px;
            box-sizing: border-box;
        }

        .auth-btn {
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: #E33E33;
            border-radius: 5px;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.5s;
        }

        .auth-btn:hover {
            background-color: #ea6a62;
        }

        .auth-btn:active {
            background-color: #de291d;
        }

        .auth-footer {
            height: 50px;
            line-height: 50px;
            padding: 0 20px;
            background-color: #f8fafb;
        }

        .auth-footer-title {
            float: left;
        }

        .auth-footer-title a {
            display: inline-block;
            color: #444950;
        }

        .auth-footer-switch {
            float: right;
            color: #E33E33;
            font-weight: bold;
            transition: background-color 0.5s;
        }

        .auth-footer-switch:hover {
            color: #de291d;
        }
    </style>

    <div class="auth-wrap">
        <div class="auth-box">
            <div class="authClose" onclick="authClose()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="swiper-container auth-swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-no-swiping">
                        <div class="auth-main">
                            <div class="auth-login">
                                <div class="auth-title">
                                    账号密码登录
                                </div>

                                <div class="auth-item clearfix">
                                    <div class="auth-item-ico">
                                        账号
                                    </div>
                                    <input type="text" id="auth-login-username" class="auth-item-input" placeholder="请输入用户名">
                                </div>

                                <div class="auth-item clearfix">
                                    <div class="auth-item-ico">
                                        密码
                                    </div>
                                    <input type="password" id="auth-login-password" class="auth-item-input" placeholder="请输入密码">
                                </div>

                                <button id="auth-btn-login" class="auth-btn" onclick="authLogin()">
                                    登录
                                </button>

                            </div>
                        </div>

                        <div class="auth-footer clearfix">
                            <div class="auth-footer-title">
                                注册即同意
                                <a href="">用户协议</a>
                                和
                                <a href="">隐私政策</a>
                            </div>
                            <button class="auth-footer-switch" onclick="toAuthRegister()">
                                账号注册
                            </button>
                        </div>

                    </div>

                    <div class="swiper-slide swiper-no-swiping">
                        <div class=" auth-main">
                            <div class="auth-register">
                                <div class="auth-title">
                                    账号注册
                                </div>

                                <div class="auth-item clearfix">
                                    <div class="auth-item-ico">
                                        昵称
                                    </div>
                                    <input type="text" id="auth-register-nickname" class="auth-item-input" placeholder="请输入昵称">
                                </div>

                                <div class="auth-item clearfix">
                                    <div class="auth-item-ico">
                                        账号
                                    </div>
                                    <input type="text" id="auth-register-username" class="auth-item-input" placeholder="请输入账号">
                                </div>
                                <div class="auth-item clearfix">
                                    <div class="auth-item-ico">
                                        密码
                                    </div>
                                    <input type="password" id="auth-register-password" class="auth-item-input" placeholder="请输入密码">
                                </div>

                                <button id="auth-btn-register" class="auth-btn" onclick="authRegister()">
                                    注册
                                </button>

                            </div>
                        </div>

                        <div class="auth-footer clearfix">
                            <div class="auth-footer-title">
                                登录即同意
                                <a href="">用户协议</a>
                                和
                                <a href="">隐私政策</a>
                            </div>
                            <button class="auth-footer-switch" onclick="toAuthLogin()">
                                账号注册
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(function () {
        authSwiper = new Swiper('.auth-swiper-container', {
            freeModeMomentumBounce: false,
            autoHeight: true,
        })
        $('.header-user-info').mouseenter(function () {
            $('.header-user-control').fadeIn(200);
        });

        $('.header-user-info').mouseleave(function () {
            $('.header-user-control').fadeOut(200);
        });
    })


    function authOpen() {
        $('.auth-wrap').fadeIn();
        $(".auth-box").animate({top: '50%'});
        authSwiper.update()
    }

    function authClose() {
        $('.auth-wrap').fadeOut();
        $(".auth-box").animate({top: '40%'});
    }

    function toAuthLogin() {
        authSwiper.slideTo(0)
    }

    function toAuthRegister() {
        authSwiper.slideTo(1)
    }

    
    function authLogin() {
        $('#auth-btn-login').html('登录中...');
        $('#auth-btn-login').attr('disabled','disabled');
        $.ajax({
            type:"POST",
            url:"{:url('index/User/login')}",
            data: {
                'username':$('#auth-login-username').val(),
                'password':$('#auth-login-password').val(),
            },
            dataType:"json",
            success: function(data){
                if(data.code != 1){
                    humane.log(data.msg);
                } else {
                    $.cookie('im_token', data.data.token, { expires: 7, path: '/' });
                    location.reload();
                }
            },
            complete: function () {
                $('#auth-btn-login').html('登录');
                $('#auth-btn-login').removeAttr('disabled');
            }
        });

    }

    function authRegister() {
        $('#auth-btn-register').html('注册中...');
        $('#auth-btn-register').attr('disabled','disabled');
        $.ajax({
            type:"POST",
            url:"{:url('index/User/register')}",
            data: {
                'username':$('#auth-register-username').val(),
                'nickname':$('#auth-register-nickname').val(),
                'password':$('#auth-register-password').val(),
            },
            dataType:"json",
            success: function(data){
                if(data.code != 1){
                    humane.log(data.msg);
                } else {
                    humane.log('注册成功');
                    $('#auth-login-username').val($('#auth-register-username').val());
                    $('#auth-register-username').val('');
                    $('#auth-register-nickname').val('');
                    $('#auth-register-password').val('');
                    toAuthLogin();
                }
            },
            complete: function () {
                $('#auth-btn-register').html('注册');
                $('#auth-btn-register').removeAttr('disabled');
            }
        });
    }
    
    function userOut() {
        $.removeCookie('im_token',{ path: '/'});
        location.reload();
    }

</script>