<div class="user-box-detailed-right-info">
    <div class="user-box-detailed-right-info-small clearfix">
        <div class="user-box-detailed-right-info-small-text">
            <span>昵称：</span>
        </div>
        <div class="user-box-detailed-right-info-small-input">
            <input type="text" name="nick_name">
        </div>
    </div>

    <div class="user-box-detailed-right-info-small clearfix">
        <div class="user-box-detailed-right-info-small-text ">
            <span>账号：</span>
        </div>
        <div class="user-box-detailed-right-info-small-input">
            <input type="text" name="user_name">
        </div>
    </div>

    <div class="user-box-detailed-right-info-small clearfix">
        <div class="user-box-detailed-right-info-small-text">
            <span>个性签名：</span>
        </div>
        <div class="user-box-detailed-right-info-small-input">
            <textarea name="qianming"></textarea>
        </div>
    </div>

    <div class="user-box-detailed-right-info-small clearfix">
        <div class="user-box-detailed-right-info-small-text">
            <span>性别：</span>
        </div>
        <div class="user-box-detailed-right-info-small-input clearfix">
            <span class="user-box-detailed-right-info-small-input-span user-box-detailed-right-info-small-input-click">男</span>
            <span class="user-box-detailed-right-info-small-input-span">女</span>
            <span class="user-box-detailed-right-info-small-input-span">保密</span>
        </div>
    </div>

    <div class="user-box-detailed-right-info-small clearfix">
        <div class="user-box-detailed-right-info-small-text">
            <span>出生日期：</span>
        </div>
        <div class="user-box-detailed-right-info-small-input clearfix">
            <input class="start" type="text" name="birthday" placeholder="请选择时间">
        </div>
    </div>

    <div class="user-box-detailed-right-info-small">
        <div class="user-box-detailed-right-info-small-hr"></div>
    </div>

    <div class="user-box-detailed-right-info-small">
        <div class="user-box-detailed-right-info-small-btn" id="sub_btn">保存</div>
    </div>

</div>